[submodule "modules/BDS.js"]
	path = modules/BDS.js
	url = https://github.com/Bryce-Summers/BDS.js.git
[submodule "lib/billboard"]
	path = lib/billboard
	url = https://github.com/Bryce-Summers/BDS.js.git
